body {
    margin: 0;
    font-size: medium;
    font-family: 'Gill Sans MT';
    background-color: #d8d8d8;
  }
  
.header {
    background-color: #d8d8d8;
    text-align: center;
    overflow: auto;
}


.wrapper{
    max-width: 700px;
    margin: auto;
    background-color: rgb(255, 255, 255);
}

#navbar {
    overflow: hidden;
    background-color: #1a1a1a;
}

#navbar a {
    float: left;
    padding: 12px 5px;
    display: block;
    color: #d8d8d8;
    text-align: center;
    text-decoration: none;
    font-size: medium;
}

#navbar a:hover {
    background-color:#d8d8d8;
    color: #1a1a1a;
}

#navbar a.active {
    background-color: #d8d8d8;
    border-color: #1a1a1a;
    color: #1a1a1a;
}

.content {
    font-size: medium;
    padding: 16px 10px 10px;
    color: #1a1a1a;
}

.content h1 {
    font-size: xx-large;
    padding: 20px 10px;
    color: #1a1a1a;
}
.content h2 {
    font-size: xx-large;
    color: #1a1a1a;
}

.content table{
    width: 100%;
}

.content td, td{
    vertical-align: top;
    border: none;
}

.link {
    font-weight: lighter;
    color: #8a8a8a;
    text-decoration: none;
}

.SubtleEmphasis {
    font-size: 16px;
    font-weight: lighter;
    color: #8a8a8a;
    line-height: 24px;
}

.footer {
    position: fixed;
    width: 100%;
    padding-top: 16px;
    padding-bottom: 16px;
    max-width: 700px;
    background-color: #d8d8d8;
    bottom: 0;
    color: #1a1a1a;
 }

.sticky {
    position: fixed;
    top: 0;
    max-width: 700px;
    width: 100%;
}

.sticky + .content {
    padding: 16px;
}